<html>

<head>
    <title>index</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- font-awesome CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="assets/home.css"> -->
     <link rel="stylesheet" href="assets/email.css"> 
</head>

<body>

    <header class="wrapper">
        <div class="header-brand">
            <i class="fa fa-server" id="logo"></i>
            <h1>Test Line Reservation</h1>
        </div>
    </header>

    <div id="email-img" class="wrapper">
        <img src="assets/card-banner-1.jpg" alt="card-banner">
    </div>

    <main class="wrapper">
        <span class="intro">Introducing</span>
        <h2>Responsive HTML email templates</h2>
        <p>More than 50% of total email opens occured on a mobile device - a mobile friendly design is a must for email campaigns.</p>
        <button type="button">View on GitHub</button>
    </main>

    <footer class="wrapper">
        <p>This email template was sent to you because we want to make the world a better place. You could change your subscription
            settings anytime.</p>
    </footer>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script src="assets/home.js"></script> -->
</body>

</html>