<!DOCTYPE html>
<html>

<head>
    <title>Test Line Reservation</title>
    <meta name="viewport" content="width=device-width">
</head>

<body style="background: #3B4356; font-family: Segoe UI; font-weight: 300; margin: 0;">

    <header style="width: 96%; max-width: 600px; padding: 0 2%; margin: 0 auto;">
        <div style="color: #fff; width: fit-content; margin: 10px auto;">
            <i class="fa fa-server" style="float: left; margin-right: 10px; line-height: 1.2em; font-size: 2.5em;"></i>
            <h1 style="float: left; width: 106px; font-size: 1.2em; margin: 0; font-weight: 500; text-align: center;">Test Line Reservation</h1>
            <div style="clear: both;"></div>
        </div>
    </header>

    <div style="max-width: 420px; width: 96%; padding: 0 2%; margin: 0 auto;">
        <img src="assets/card-banner-1.jpg" alt="card-banner" style="width: 100%; border-radius: 0.5em; border: 1px solid #5F6573;">
    </div>

    <main style="width: 96%; max-width: 600px; padding: 0 2%; margin: 20px auto">
        <span style="display: block; text-align: center; color: #fff; text-transform: uppercase;">Introducing</span>
        <h2 style="text-align: center; color: #fff; line-height: 1.3em; font-weight: 500;">Responsive HTML email templates</h2>
        <p style="text-align: center; color: #fff; line-height: 1.6em;">More than 50% of total email opens occured on a mobile device - a mobile friendly design is a must for email campaigns.</p>
        <a href="" style="display: block; margin: 0 auto; background: #F18650; border: 1px solid #F18650; padding: 0.6em 1em; border-radius: 0.25em; color: #fff; text-decoration: underline; font-size: 14px; width: fit-content;">View on GitHub</a>
    </main>

    <footer style="width: 96%; max-width: 600px; padding: 0 2%; margin: 0 auto; border-top: 1px solid #5F6573;">
        <p style="text-align: center; color: #777E8E; line-height: 1.6em; font-size: 14px;">This email template was sent to you because we want to make the world a better place. You could change your subscription
            settings anytime.</p>
    </footer>
</body>

</html>