<html>

<head>
  <title>index</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <!-- font-awesome CSS-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/home.css">

</head>

<body>
  

    <nav id="main-nav">
        <div class="wrapper">
            <button type="button" id="burger-nav">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </button>
            <a href="" class="navbar-brand">
            <i class="fa fa-thermometer icon-lg" id="logo"></i>
            <h1>Test Line Reservation</h1>
        </a>
            <div class="navbar-nav">
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="home.html"><i class="fa fa-"></i> Teams</a></li>
                    <li><a href="login.html"><i class="fa fa-user"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <span>
        <i class="fa fa-th"></i>
    </span>

    <main class="wrapper">
        <section id="available">
            <h2>Available</h2>
            <div class="card-deck">
                <div class="card">
                    <div class="card-header bg-green">
                        <i class="fa fa-check-circle-o fa-white icon-lg"></i>
                        <h3>Line #1</h3>
                        <p>Available</p>
                    </div>
                    <div class="card-content">
                        <button type="button" class="card-btn">Reserve Now!</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-green">
                        <i class="fa fa-check-circle-o fa-white icon-lg"></i>
                        <h3>Line #2</h3>
                        <p>Available</p>
                    </div>
                    <div class="card-content">
                        <button type="button" class="card-btn">Reserve Now!</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="in-use">
            <h2>In Use</h2>
            <div class="card-deck">
                <div class="card">
                    <div class="card-header bg-red">
                        <i class="fa fa-times-circle-o fa-white icon-lg"></i>
                        <h3>Line #3</h3>
                        <p>In Use</p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Lorem Ipsum. <small class="badge badge-current">Current</small></h3>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-next">Next in Line</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-ellipsis"><i class="fa fa-ellipsis-h"></i></p>
                        <button type="button" class="card-btn">Reserve Now!</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-red">
                        <i class="fa fa-times-circle-o fa-white icon-lg"></i>
                        <h3>Line #3</h3>
                        <p>In Use</p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Lorem Ipsum. <small class="badge badge-current">Current</small></h3>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-next">Next in Line</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-ellipsis"><i class="fa fa-ellipsis-h"></i></p>
                        <button type="button" class="card-btn">Reserve Now!</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-red">
                        <i class="fa fa-times-circle-o fa-white icon-lg"></i>
                        <h3>Line #3</h3>
                        <p>In Use</p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Lorem Ipsum. <small class="badge badge-current">Current</small></h3>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-next">Next in Line</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-ellipsis"><i class="fa fa-ellipsis-h"></i></p>
                        <button type="button" class="card-btn">Reserve Now!</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-red">
                        <i class="fa fa-times-circle-o fa-white icon-lg"></i>
                        <h3>Line #3</h3>
                        <p>In Use</p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Lorem Ipsum. <small class="badge badge-current">Current</small></h3>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-next">Next in Line</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-text">Nulla vitae libero, <small class="badge badge-pending">Pending</small></p>
                        <p class="card-ellipsis"><i class="fa fa-ellipsis-h"></i></p>
                        <button type="button" class="card-btn">Reserve Now!</button>
                    </div>

       </section> 
     </main> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/home.js"></script>
</body>

</html>