<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- font-awesome CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="assets/home.css"> -->
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>

    <nav id="main-nav">
        <div class="wrapper">
            <button type="button" id="burger-nav">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </button>
            <a href="" class="navbar-brand">
                <i class="fa fa-thermometer icon-lg" id="logo"></i>
                <h1>Test Line Reservation</h1>
            </a>
            <div class="navbar-nav">
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="login.html"><i class="fa fa-user"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="wrapper">
        <article>
            <aside class="sidenav">
                <a href="" class="closebtn">
                    <i class="fa fa-times"></i>
                </a>
                <a href="javascript:void(0)" class="tablinks active" onclick="openReservation(event, 'milo')">
                    <i class="fa fa-thermometer"></i>
                    Line #1
                </a>
                <a href="javascript:void(0)" class="tablinks" onclick="openReservation(event, 'latte')">
                    <i class="fa fa-thermometer"></i>
                    Line #2
                </a>
                <a href="javascript:void(0)" class="tablinks" onclick="openReservation(event, 'choco')">
                    <i class="fa fa-thermometer"></i>
                    Line #3
                </a>
            </aside>
            <section id="milo" class="tabcontent">
                <h2>
                    <i class="fa fa-navicon sidenav-toggle"></i> Milo
                </h2>
                <ul>
                    <li class="list-item">
                            <h3 class="title">Lorem Ipsum</h3>
                            <p class="subtitle">Team #1</p>
                            <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit
                                dapibus.
                            </p>
                            <button type="button" class="release"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item">
                        <h3 class="title">Lorem Ipsum</h3>
                        <p class="subtitle">Team #1</p>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.</p>
                        <button type="button" class="release"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item">
                        <h3 class="title">Lorem Ipsum</h3>
                        <p class="subtitle">Team #1</p>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.</p>
                        <button type="button" class="release"><i class="fa fa-times"></i> Release</button>
                    </li>
                </ul>
            </section>
        </article>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/reserve.js"></script>
</body>

</html>