<%= content_tag(:div, "", :class => "modal", :id => "desc-#{testline.id}") do %>
    <div class="modal-content">
        <div class="modal-header">
            <%= content_tag :button, '&times;'.html_safe, :class => "modal-close", :onclick => "deactivate_modal(\'desc-#{testline.id}\')" %>
            <h3 class="modal-title">Description</h3>
        </div>
        <div class="modal-body">
            <%= desc testline.description %>
        </div>
        <div class="modal-footer">
            <%= content_tag :button, "Close", :class => "modal-btn", :onclick => "deactivate_modal(\'desc-#{testline.id}\')" %>
        </div>
    </div>
<% end %>