<% if user_signed_in? %>

	<% if current_user.isAdmin? %>
		<div class="container reservation-form">  
		  <%= form_for((@team), :html =>{:class => "reserve"}) do |f| %>
		    <h3>Edit Team </h3>
		    <fieldset>
		     <%= f.text_field :name, :placeholder => "Name", :tabindex => "1", :required => "required"%>
		    </fieldset>


		    <fieldset>
		      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
		    </fieldset>
		  <% end %>
		</div>
		
	<% else %>
		<div class="wrapper-greeting">
			<div class="alert alert-success alert-dismissible">
				<h4 class="alert-heading">Sorry, you need to be an admin to view this page. Please contact the administrator if you want to be one.</h4>
			</div>
		</div>
		

	<% end %>

<% else %>
	<div class="wrapper-greeting">
		<div class="alert alert-success alert-dismissible">
			<h4 class="alert-heading">Sorry, you need to be logged-in to view this page.</h4>
		</div>
	</div>
<% end %>
