<% if user_signed_in?%>
    <% if current_user.team.nil? %>
        <main class="wrapper">
            <% if @teams.count != 0 %>
                <section id="teams">
                    <h2>Select Your Team</h2>
                    <div class="outer-border-hidden">
                        <ul class="letters-grid letters-grid-lg">
                            <% @teams.each do |team| %>
                                <li>
                                    <%= link_to assign_team_path(:team_id => team), method: :put do %>
                                        <span class="<%= letterPicker(team.name, "lg") %>"></span>
                                        <%= team.name %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </section>
            <% else %>
                <div class="notice-wrapper">
                    <h4>There are no teams yet.</h4>
                </div>
            <% end %>
        </main>
    <% else %>
        <script type="text/javascript">
            window.location.href="<%= reservations_path %>"
        </script>
    <% end %>
<% end %>