<% if user_signed_in? && current_user.isAdmin? %>
  <% balls = pokelist_lg %>
  <main class="wrapper">
      <section id="teams">
          <h2>Select Your Team</h2>
          <div class="outer-border-hidden">
              <ul class="pokeballs-grid pokeballs-grid-lg">
                <% @teams.each do |team| %>
                  <li>
                      <a href="<%= "/teams/show/#{team.id}"%>"><span class="<%= balls[team.id % 20] %>"></span><%= team.name %> </a>
                  </li>
                <% end %>
              </ul>
          </div>
      </section>
  </main>

<% end %>