<% if user_signed_in? %>

	<% if current_user.isAdmin? %>
	
		<p>
		  <strong>Name:</strong>
		  <%= @team.name %>
		</p>

		<%= link_to 'Edit', edit_team_path(@team) %>

	<% else %>

		<h1>Sorry, you need to be an admin to view this page.</h1>
		<p>Please contact the administrator if you want to be one.</p>

	<% end %>

<% else %>

	<h1>Sorry, you need to be logged-in to view this page.</h1>

<% end %>
