<% if user_signed_in? %>

	<h1><%= @team.name %>'s Testlines</h1>
	<br>

	<% if @mytestlines.empty? %>
		No testlines associated with this team yet.
	<% else %>
		<% @mytestlines.each do |tl| %>
			<%= tl.name %><br>
			<%= tl.ip_address %><br>
		<% end %>
	<% end %>

<% else %>

	<h1>Sorry, you need to be logged-in to view this page.</h1>

<% end %>