<main class="wrapper">
    <section id="teams">
        <h2>Select Your Team</h2>
        <div class="outer-border-hidden">
            <ul class="pokeballs-grid pokeballs-grid-lg">
                <li>
                    <a href=""><span class="team-brand-lg poke-ball-lg"></span>poke-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg premier-ball-lg"></span>premier-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg great-ball-lg"></span>great-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg ultra-ball-lg"></span>ultra-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg master-ball-lg"></span>master-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg safari-ball-lg"></span>safari-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg level-ball-lg"></span>level-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg lure-ball-lg"></span>lure-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg moon-ball-lg"></span>moon-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg friend-ball-lg"></span>friend-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg love-ball-lg"></span>love-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg heavy-ball-lg"></span>heavy-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg fast-ball-lg"></span>fast-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg sports-ball-lg"></span>sports-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg repeat-ball-lg"></span>repeat-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg timer-ball-lg"></span>timer-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg nest-ball-lg"></span>nest-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg net-ball-lg"></span>net-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg dive-ball-lg"></span>dive-ball</a>
                </li>
                <li>
                    <a href=""><span class="team-brand-lg luxury-ball-lg"></span>luxury-ball</a>
                </li>
            </ul>
        </div>
    </section>
</main>