<!DOCTYPE html>
<html>

<head>
    <title>Test Line Reservation</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="stylesheet" href="assets/stylesheets/teams.css">
</head>

<body>
    <nav id="main-nav">
        <div class="wrapper">
            <a type="a" id="burger-nav">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </a>
            <a href="/" class="navbar-brand">
                <i class="fa fa-server icon-lg" id="logo"></i>
                <h1>Test Line Reservation</h1>
            </a>
            <div class="navbar-nav">
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href=""><i class="fa fa-calendar-check-o"></i> Teams</a></li>
                    <li><a href=""><i class="fa fa-calendar-check-o"></i> Reservations</a></li>
                    <li><a href=""><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="rails-container">
        <main class="wrapper">
            <section id="teams">
                <h2>Select Your Team</h2>
                <div class="outer-border-hidden">
                    <ul class="pokeballs-grid pokeballs-grid-lg">
                        <li>
                            <a href=""><span class="team-brand-lg poke-ball-lg"></span>poke-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg premier-ball-lg"></span>premier-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg great-ball-lg"></span>great-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg ultra-ball-lg"></span>ultra-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg master-ball-lg"></span>master-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg safari-ball-lg"></span>safari-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg level-ball-lg"></span>level-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg lure-ball-lg"></span>lure-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg moon-ball-lg"></span>moon-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg friend-ball-lg"></span>friend-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg love-ball-lg"></span>love-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg heavy-ball-lg"></span>heavy-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg fast-ball-lg"></span>fast-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg sports-ball-lg"></span>sports-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg repeat-ball-lg"></span>repeat-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg timer-ball-lg"></span>timer-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg nest-ball-lg"></span>nest-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg net-ball-lg"></span>net-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg dive-ball-lg"></span>dive-ball</a>
                        </li>
                        <li>
                            <a href=""><span class="team-brand-lg luxury-ball-lg"></span>luxury-ball</a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/javascripts/application.js"></script>
</body>

</html>