<div class="error">
	<div class="error-overlay">
		<div class="wrapper">
			<img src="/assets/error.jpg" alt="error">
			<div class="error-content">
				<h1>Access Not Granted!</h1>
				<h4>Sorry, you need to be logged in as an
					<span class="badge bg-yellow">admin</span> to view this page.</h4>
				<p>Please contact the administrator if you wish to have access.</p>
			</div>
		</div>
	</div>
</div>