<aside class="sidenav">
    <a href="" class="closebtn">
        <i class="fa fa-times"></i>
    </a>
    <a href="/admin/teams" class="<%= isActive(sect, "teams") %>">
        <i class="fa fa-users"></i>
        Manage Teams
    </a>
    <a href="/admin/testlines" class="<%= isActive(sect, "testlines") %>">
        <i class="fa fa-server"></i>
        Manage Test Lines
    </a>
    <a href="/admin/associations" class="<%= isActive(sect, "associations") %>">
        <i class="fa fa-exchange"></i>
        Test Line Ownerships
    </a>
    <a href="/admin/users" class="<%= isActive(sect, "users") %>">
        <i class="fa fa-user"></i>
        Manage Users
    </a>
</aside>