<aside class="sidenav">
    <a href="" class="closebtn">
        <i class="fa fa-times"></i>
    </a>
    <a href="javascript:void(0)" class="tablinks active">
        <i class="fa fa-users"></i>
        Manage Users
    </a>
    <a href="javascript:void(0)" class="tablinks active">
        <i class="fa fa-server"></i>
        Manage Test Lines
    </a>
    <a href="javascript:void(0)" class="tablinks active">
        <i class="fa fa-exchange"></i>
        Manage Relations
    </a>
    <a href="javascript:void(0)" class="tablinks active">
        <i class="fa fa-steam"></i>
        DOTA
    </a>
</aside>