<aside class="sidenav">
    <div class="wrapper">
        <ul>
            <li>
                <a href="javascript:void(0)" class="closebtn" onclick="toggleSideNav()">
                    <i class="fa fa-times"></i></a>
            </li>
            <li>
                <a href="/admin/teams" class="sidenav-link <%= isActive(sect, "teams") %>">
                    <i class="fa fa-users"></i> Manage Teams
                </a>
            </li>
            <li>
                <a href="/admin/testlines" class="sidenav-link <%= isActive(sect, "testlines") %>">
                    <i class="fa fa-server"></i> Manage Test Lines
                </a>
            </li>
            <li>
                <a href="/admin/associations" class="sidenav-link <%= isActive(sect, "associations") %>">
                    <i class="fa fa-exchange"></i> Test Line Ownerships
                </a>
            </li>
            <li>
                <a href="/admin/users" class="sidenav-link <%= isActive(sect, "users") %>">
                    <i class="fa fa-user-circle"></i> User Privileges
                </a>
            </li>
        </ul>
    </div>
</aside>