<% if user_signed_in? && current_user.isAdmin? %>
	<div class="wrapper-greeting">
		<div class="alert alert-success alert-dismissible" role="alert">
		  	<h4 class="alert-heading">Welcome, admin!</h4>
		</div>
	</div>

	<main class="wrapper">
		<div class="card-deck">
			<div class="card">
				<div class="card-header bg-green">
					<i class="fa fa-group fa-white icon-lg"></i>
				</div>
				<div class="card-content-admin">
					<div class="card-title-admin">
						<a href="/admin/teams">
							<button class="card-btn-admin slide_left" id="manage-teams">
								<h3>Manage Teams</h3>
							</button>
						</a>
					</div>
					<div class="card-description" id="manage-teams-description">
						<div class="card-description-content" >
							<p>
								This is where you can either create a team, give it a team name and icon, edit an existing team’s name or icon, or remove a team from existence.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header bg-green">
					<i class="fa fa-server fa-white icon-lg"></i>
				</div>
				<div class="card-content-admin">
					<div class="card-title-admin">
						<a href="/admin/testlines">
							<button class="card-btn-admin slide_left" id="manage-testlines">
								<h3>Manage Testlines</h3>
							</button>
						</a>
					</div>
					<div class="card-description" id="manage-testlines-description">
						<div class="card-description-content">
							<p>
								This is where you can either create a new test line, edit an existing test line’s name or status, or remove a test line from existence.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header bg-green">
					<i class="fa fa-share-alt  fa-white icon-lg"></i>
				</div>
				<div class="card-content-admin">
					<div class="card-title-admin">
						<a href="/admin/associations">
							<button class="card-btn-admin slide_left" id="manage-associations">
								<h3>Manage Associations</h3>
							</button>
						</a>
					</div>
					<div class="card-description" id="manage-associations-description">
						<div class="card-description-content">
							<p>
								This is where you can create, add, or remove restrictions for the teams on what test lines they can only use.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header bg-green">
					<i class="fa fa-group fa-white icon-lg"></i>
				</div>
				<div class="card-content-admin">
					<div class="card-title-admin">
						<a href="/admin/users">
							<button class="card-btn-admin slide_left" id="manage-users">
								<h3>Manage Users</h3>
							</button>
						</a>
					</div>
					<div class="card-description" id="manage-users-description">
						<div class="card-description-content">
							<p>
								This is where you can set users to become administrators as well for this system.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
<% else %>
	<%= render 'error' %>
<% end %>

