<% if user_signed_in? %>

	<% if current_user.isAdmin? %>
	<h1>Welcome, admin!</h1>

	<% else %>
	<h1>Sorry, you need to be an admin to view this page.</h1>
	<p>Please contact the administrator if you want to be one.</p>
	<% end %>

<% else %>
<h1>Sorry, you need to be an admin to view this page.</h1>
<p>Please contact the administrator if you want to be one.</p>
<% end %>