<main class="wrapper" id="sidenav-container">
    <aside class="sidenav">
        <div class="wrapper">
            <ul>
                <li>
                    <a href="" class="closebtn"><i class="fa fa-times"></i></a>
                </li>
                <li>
                    <a href="" class="sidenav-links">
                                    <i class="fa fa-users"></i> Manage Teams
                                </a>
                </li>
                <li>
                    <a href="" class="sidenav-links">
                                    <i class="fa fa-server"></i> Manage Test Lines
                                </a>
                </li>
                <li>
                    <a href="" class="sidenav-links">
                                    <i class="fa fa-exchange"></i> Test Line Ownerships
                                </a>
                </li>
                <li>
                    <a href="" class="sidenav-links">
                                    <i class="fa fa-user-circle"></i> User Privileges
                                </a>
                </li>
            </ul>
        </div>
    </aside>
    <section id="users-admin">
        <button type="button" class="sidenav-toggler">
                    <i class="fa fa-caret-left show-left"></i> 
                    <i class="fa fa-navicon"></i> 
                    <i class="fa fa-caret-right show-right"></i>
                </button>
        <h2>Users <i class="fa fa-user-circle"></i></h2>
        <ul class="list-group">
            <li class="list-item list-item-primary">
                <h3 class="title">
                    <i class="fa fa-user"></i> yves.francisco@nokia.com
                </h3>
                <small class="subtitle">
                            <i class="fa fa-cogs"></i> Administrator
                        </small>
            </li>
            <li class="list-item">
                <h3 class="title">
                    <i class="fa fa-user"></i> yves.francisco@nokia.com
                </h3>
                <button class="make-admin-btn show-confirm-modal"><i class="fa fa-lock"></i> Make Admin</button>
            </li>
        </ul>
    </section>
</main>
<div class="modal" id="confirm-admin-modal">
    <div class="modal-confirm">
        <div class="modal-header">
            <button type="button" class="modal-close">&times;</button>
            <h3 class="modal-title">Make Admin</h3>
        </div>
        <div class="modal-body">
            <p class="modal-text">Are you sure you want to make this user an admin?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-btn bg-blue">Make Admin</button>
            <button type="button" class="modal-btn">Cancel</button>
        </div>
    </div>
</div>