<main class="wrapper">
    <section id="admin-panel">
        <h2>Admin Panel</h2>
        <ul>
            <li>
                <a href="">
                    <div class="icon-circle">
                        <i class="fa fa-group icon-lg text-white"></i>
                    </div>
                    <h3>Manage Teams</h3>
                    <p>Add, rename, or delete a team from the database.</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon-circle">
                        <i class="fa fa-server icon-lg text-white"></i>
                    </div>
                    <h3>Manage Testlines</h3>
                    <p>Add a new test line, edit a test line's name, IP address, and port number, tag a testline under maintenance,
                        or delete a test line from the database.</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon-circle">
                        <i class="fa fa-exchange icon-lg text-white"></i>
                    </div>
                    <h3>Testline Ownerships</h3>
                    <p>Add, or remove restrictions for the teams on what test lines they are allowed to use.</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon-circle">
                        <i class="fa fa-user-circle icon-lg text-white"></i>
                    </div>
                    <h3>User Privileges</h3>
                    <p>Allow users admistrator privileges for this system.</p>
                </a>
            </li>
        </ul>
    </section>
</main>