<% if user_signed_in? && current_user.isAdmin? %>
	<main class="wrapper" id="sidenav-container">
	    <%= render partial: 'sidenav', :locals => {:sect => "users"} %>

	    <section id="users-admin">
	        <button type="button" class="sidenav-toggler" onclick="toggleSideNav()">
                <i class="fa fa-caret-left show-left"></i> 
                <i class="fa fa-navicon"></i> 
                <i class="fa fa-caret-right show-right"></i>
            </button>
	        <h2>Users <i class="fa fa-user-circle"></i></h2>
	        <ul class="list-group">
	        	<% @users.each do |user| %>
		            <li class="list-item list-item-primary">
		                <h3 class="title">
		                    <i class="fa fa-user"></i> <%= user.email %>
		                </h3>
		                <% if user.isAdmin? %>
			                <small class="subtitle">
		                        <i class="fa fa-cogs"></i> Administrator
		                    </small>
		                <% else %>
		                	<button class="make-admin-btn show-confirm-modal" onclick="activate_modal('confirm-admin-modal')"><i class="fa fa-lock"></i> Make Admin</button>

		                	<div class="modal" id="confirm-admin-modal">
							    <div class="modal-confirm">
							        <div class="modal-header">
							            <button type="button" class="modal-close" onclick="deactivate_modal('confirm-admin-modal')">&times;</button>
							            <h3 class="modal-title">Make Admin</h3>
							        </div>
							        <div class="modal-body">
							            <p class="modal-text">Are you sure you want to make this user an admin?</p>
							        </div>
							        <div class="modal-footer">
							         	<%= button_to "Make Admin", admin_makeAdmin_path(user), method: :post ,:class => "modal-btn bg-blue"%>
							            <button type="button" class="modal-btn" onclick="deactivate_modal('confirm-admin-modal')">Cancel</button>
							        </div>
							    </div>
							</div>
		                <% end %>
		            </li>
		        <% end %>
	        </ul>
	    </section>
	</main>
<% else %>
	<%= render 'error' %>
<% end %>

	<script>
  function activate_modal(id) {
    var s = document.getElementById(id);
      s.style.display = "block";
  }

  function deactivate_modal(id) {
    var s = document.getElementById(id);
      s.style.display = "none";
  }
</script>
