<div id="confirm-modal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">
					<i class="fa <%= icon %>"></i> <%= modal_title %>
				</h3>
			</div>
			<div class="modal-body">
				<p class="modal-text"><%= modal_text %></p>
			</div>
			<div class="modal-footer">
				<%= link_to(btn_text, "", id: "submit", class: "modal-btn #{bg_color}", method: :delete) %>
				<button type="button" class="modal-btn" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>