<div id="desc-modal" class="modal">
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Description</h3>
            </div>
            <div class="modal-body">
                <p class="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button class="modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>