<div id="img-modal" class="modal">
    <button type="button" class="modal-close" onclick="cancel_modal()">&times;</button>
    <img src="<%= testline.diagram %>" alt="No Diagram Available" 
        class="modal-img" title="<%= testline.name %>">
</div>