<div id="img-modal" class="modal">
    <button type="button" class="modal-close" data-dismiss="modal">&times;</button>
	<div class="modal-dialog">
        <img src="" alt="No Diagram Available" class="modal-img">
    </div>
</div>