<div id="testline-modal" class="modal">
	<div class="modal-dialog modal-dialog-full">
		<div class="modal-content">
            <% if @testline.errors.any? %>
                <div class="notice-wrapper">
                    <h4 class="alert-heading">
                        <b><%= pluralize(@testline.errors.count, "error") %> prohibited this testline from being saved:</b>
                    </h4>
                    <ul>
                        <% @testline.errors.full_messages.each do |message| %>
                            <li>&emsp;<%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
			<%= form_tag("", id: "submit") do |f| %>
				<div class="modal-header">
					<button type="button" class="modal-close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Add New Testline</h3>
				</div>
				<div class="modal-body">
                    <div class="side-panel">
                        <div class="form-group">
                            <label for="tl-name">Testline Name:</label>
                            <input type="text" id="tl-name" class="form-control" 
                                name="testline[name]" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="ip-address">IP Address:</label>
                            <input type="text" id="ip-address" class="form-control" 
                                name="testline[ip_address]" placeholder="127.0.0.1" required>
                        </div>
                        <div class="form-group">
                            <label for="port">Port:</label>
                            <input type="text" id="port" class="form-control" 
                                name="testline[port_number]" placeholder="8080" required>
                        </div>
                        <div class="form-group">
                            <label for="diagram">Diagram:</label>
                            <input type="file" id="diagram" class="form-control" name="testline[diagram]">
                        </div>
                    </div>
                    <div class="description-panel">
                        <label>Testline Description:</label>
                        <textarea id="testline_description" class="tinymce" 
                            name="testline[description]" rows="20" cols="120"></textarea>
                        <%= tinymce %>
                    </div>
				</div>
				<div class="modal-footer">
                    <div class="btn-group">
                        <div class="form-group">
                            <input type="checkbox" id="maintenance" name="testline[isMaintenance]">
                            <label for="maintenance">Under maintenance</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="modal-btn bg-green">Add Testline</button>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="modal-btn bg-red">Reset</button>
                        </div>
                    </div>
				</div>
			<% end %>
		</div>
	</div>
</div>