<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @email %></h1>
    <p>
      The testline you are next in line for (<%= @testline.name %>) has been released. You can now use this testline.
    </p>
    <p>
      Please release the testline once you are done. Thanks!
    </p>
  </body>
</html>
