<main class="wrapper">
    <div id="tabbed-content">
        <h1>Need Help?</h1>
        <ul class="tabs" id="tabs">
            <li class="tab-link active" data-target="#teams">Teams</li>
            <li class="tab-link" data-target="#testlines">Testlines</li>
            <li class="tab-link" data-target="#reservations">Reservations</li>
            <li class="tab-link" data-target="#users">Users</li>
            <li class="tab-link" data-target="#contact">Contact</li>
        </ul>
        <div class="panel active" id="teams">
            <h2>Teams</h2>
            <p>To be added...</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p> -->
        </div>
        <div class="panel" id="testlines">
            <h2>Testlines</h2>
            <p>To be added...</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p> -->
        </div>
        <div class="panel" id="reservations">
            <h2>Reservations</h2>
            <p>To be added...</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p> -->
        </div>
        <div class="panel" id="users">
            <h2>Users</h2>
            <p>To be added...</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p> -->
        </div>
        <div class="panel" id="contact">
            <h2>Contact</h2>
            <p>To be added...</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p> -->
        </div>
    </div>
</main>