<main class="wrapper">
    <div id="main-banner">
        <img src="assets/help.jpg" alt="lamp">
        <div class="banner-overlay">
            <div class="wrapper">
                <h1>Need Help?</h1>
            </div>
        </div>
    </div>
    <div id="tabbed-content">
        <ul class="tabs">
            <li data-target="#teams" class="active">Teams</li>
            <li data-target="#testlines">Testlines</li>
            <li data-target="#reservations">Reservations</li>
            <li data-target="#users">Users</li>
        </ul>
        <div class="panel active" id="teams">
            <h2>Teams</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquid eligendi dolorem dolores
                quas dolore? Dolores minus nihil adipisci vero quia suscipit repellat, molestiae explicabo officia
                quos ratione harum maxime ipsam dicta ea fuga placeat similique earum assumenda culpa. Est placeat
                nostrum obcaecati molestiae asperiores laborum distinctio minus praesentium aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, cumque id placeat quas ducimus repellendus
                explicabo quo ipsa! Voluptas, tenetur?</p>
        </div>
        <div class="panel" id="testlines">
            <h2>Testlines</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae ea natus eos possimus itaque nihil
                voluptate modi minima recusandae deleniti error dolorum temporibus eaque quos laboriosam aperiam,
                ratione expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio officia veniam perferendis
                repellat expedita. Repudiandae asperiores hic cum perspiciatis, officiis ullam suscipit sint autem
                dolorem maxime aut vero aspernatur!</p>
        </div>
        <div class="panel" id="reservations">
            <h2>Reservations</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae ea natus eos possimus itaque nihil
                voluptate modi minima recusandae deleniti error dolorum temporibus eaque quos laboriosam aperiam,
                ratione expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio officia veniam perferendis
                repellat expedita. Repudiandae asperiores hic cum perspiciatis, officiis ullam suscipit sint autem
                dolorem maxime aut vero aspernatur!</p>
        </div>
        <div class="panel" id="users">
            <h2>Users</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae ea natus eos possimus itaque nihil
                voluptate modi minima recusandae deleniti error dolorum temporibus eaque quos laboriosam aperiam,
                ratione expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio officia veniam perferendis
                repellat expedita. Repudiandae asperiores hic cum perspiciatis, officiis ullam suscipit sint autem
                dolorem maxime aut vero aspernatur!</p>
        </div>
    </div>
</main>