<main>
    <section id="choose">
        <div class="wrapper">
            <img src="assets/nokia-n.png" alt="N">
            <div class="banner-overlay">
                <h2 class="display-1">Choose a team</h2>
                <p class="overlay-text">Click your team to start making reservations, <br>or scroll further down for a walkthrough.</p>
            </div>
        </div>
    </section>
    <section id="reserve">
        <div class="wrapper">
            <img src="assets/nokia-o.png" alt="O">
            <div class="banner-overlay">
                <h2 class="display-1">Reserve a testline</h2>
                <p class="overlay-text">On your team's page, just click<br><b>Use Now</b> or <b>Reserve Now</b> on the<br>testlines that are available
                    or in-use</p>
            </div>
        </div>
    </section>
    <section id="queue">
        <div class="wrapper">
            <img src="assets/nokia-k.png" alt="K">
            <div class="banner-overlay">
                <h2 class="display-1">Who's in queue?</h2>
                <p class="overlay-text">Want to keep track of who's in line? <br> Click the <b>reservations</b> link on the navbar, <br>and select
                    the testline you want to know who's in line for.</p>
            </div>
        </div>
    </section>
    <section id="release">
        <div class="wrapper">
            <img src="assets/nokia-i.png" alt="I">
            <div class="banner-overlay">
                <h2 class="display-1">Release a testline</h2>
                <p class="overlay-text">To <b>release a testline</b> you're currently using <br>or <b>cancel a reservation</b>, click the reservations<br>                    button in the navbar, select your testline, <br>then click <b>release</b>.</p>
            </div>
        </div>
    </section>
    <section id="priority">
        <div class="wrapper">
            <img src="assets/nokia-a.png" alt="I">
            <div class="banner-overlay">
                <h2 class="display-1">Prioritize your reservation</h2>
                <p class="overlay-text">Need to use the testline immediately? Tick the <b>!important</b> and everyone will be notified that you need
                    to use that testline immediately</p>
            </div>
        </div>
    </section>
</main>