<main>
    <section id="choose">
        <div class="banner-overlay">
            <div class="wrapper">
                <h2 class="display-1">Choose a Team</h2>
                <p class="overlay-text">Click your team to start making reservations, or scroll further down for a walkthrough.</p>
            </div>
        </div>
    </section>
    <section id="reserve">
        <div class="banner-overlay">
            <div class="wrapper">
                <h2 class="display-1">Reserve a Testline</h2>
                <p class="overlay-text">On your team's page, just click<br><b>Use Now</b> or <b>Reserve Now</b> on the<br>testlines that are available
                    or in-use</p>
            </div>
        </div>
    </section>
    <section id="queue">
        <div class="banner-overlay">
            <div class="wrapper">
                <h2 class="display-1">Who's in queue?</h2>
                <p class="overlay-text">Want to keep track of who's in line? <br> Click the <b>reservations</b> button on the navbar and select the
                    testline you want to know who's in line for.</p>
            </div>
        </div>
    </section>
    <section id="release">
        <div class="banner-overlay">
            <div class="wrapper">
                <h2 class="display-1">Release a Testline</h2>
                <p class="overlay-text">To <b>release a testline</b> you're currently using or <b>cancel a reservation</b>, click the reservations
                    button in the navbar, select your testline, then click <b>release</b>.</p>
            </div>
        </div>
    </section>
</main>