<html>

<head>
    <title>index</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/bubble.css">
</head>

<body>
    <div id="main-banner">
        <%=image_tag("minimalist-background.png")%>
        <!--<img src="assets/images/minimalist-background.png" alt="minimalist-bg">-->
        <div class="banner-overlay">
            <div class="wrapper">
                <h2>Lorem Ipsum</h2>
                <p>Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.</p>
            </div>
        </div>
    </div>
    <blockquote>
        <div class="wrapper">
            <h2>Don't know when to reserve? Look at our <a href="">Schedule</a>.</h2>
        </div>
    </blockquote>
    <main class="wrapper">
        <section>
            <div class="card">
                <!--<img src="images/card-banner-1.jpg" alt="card-banner-1">-->
                <div class="green">
                    <div class="progress">
                        <div class="inner">
                            <div class="percent"><span class="percent-box">0</span>%</div>
                            <div class="water"></div>
                            <div class="glare"></div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4>Line #1</h4>
                    <p>Time Remaning: 59mins</p>
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
            <div class="card">
                <!--<img src="images/card-banner-2.jpg" alt="card-banner-2">-->
                <div class="green">
                    <div class="progress">
                        <div class="inner">
                            <div class="percent"><span class="percent-box">50</span>%</div>
                            <div class="water"></div>
                            <div class="glare"></div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4>Line #2</h4>
                    <p>Time Remaning: 59mins</p>
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
            <div class="card">
                <!--<img src="images/card-banner-3.jpg" alt="card-banner-3">-->
                <div class="green">
                    <div class="progress">
                        <div class="inner">
                            <div class="percent"><span class="percent-box">80</span>%</div>
                            <div class="water"></div>
                            <div class="glare"></div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h4>Line #2</h4>
                    <p>Time Remaning: 59mins</p>
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/bubble.js"></script>
    <script src="assets/menu.js"></script>
</body>

</html>

<!--Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.-->