<html>

<head>
    <title>Schedule</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- Font Awesome CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--Raleway font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <!--fullcalendar CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" media="print">

    <link rel="stylesheet" href="assets/schedule.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h1 id="logo">Test Line Reservation</h1>
            <nav>
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Status</a></li>
                    <li><a href="">Schedule</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="wrapper">
        <div id="calendar"></div>
    </main>

    <div class="modal">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>

    <!--moment.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <!--fullcalendar.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script src="assets/schedule.js"></script>
</body>

</html>