<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!-- <link rel="stylesheet" href="assets/reserve.css"> -->
    <link rel="stylesheet" href="../assets/style.css">

</head>

<body>

    <nav id="main-nav">
        <div class="wrapper">
            <button type="button" id="burger-nav">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </button>
            <a href="" class="navbar-brand">
                        <i class="fa fa-thermometer icon-lg" id="logo"></i>
                        <h1>Test Line Reservation</h1>
                    </a>
            <div class="navbar-nav">
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="login.html"><i class="fa fa-user"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="wrapper">
        <article>
            <aside class="sidenav">
                <a href="" class="closebtn">
                    <i class="fa fa-times"></i>
                </a>
                <a href="manage-users.html" class="tablinks active">
                    <i class="fa fa-users"></i>
                    Manage Users
                </a>
                <a href="javascript:void(0)" class="tablinks">
                    <i class="fa fa-server"></i>
                    Manage Test Lines
                </a>
                <a href="manage-associations.html" class="tablinks">
                    <i class="fa fa-exchange"></i>
                    Manage Associations
                </a>
                <a href="javascript:void(0)" class="tablinks">
                    <i class="fa fa-steam"></i>
                    DOTA
                </a>
            </aside>
            <section class="tabcontent">
                <h2>
                    <i class="fa fa-navicon sidenav-toggle"></i> Milo
                </h2>
                <ul>
                    <li class="list-item" style="padding: 2%;">
                        <div style="float: left;">
                            <h3 class="title" style="font-size: 1.4em;">
                                <i class="fa fa-user fa-white"></i> Mario
                            </h3>
                        </div>
                        <div style="float: right;">
                            <small class="badge badge-current" style="font-size: 0.9em;">
                                <i class="fa fa-cogs"></i> Administrator
                            </small>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li class="list-item" style="padding: 2%;">
                        <div style="float: left;">
                            <h3 class="title" style="font-size: 1.4em;">
                                <i class="fa fa-user fa-white"></i> Luigi
                            </h3>
                        </div>
                        <div style="float: right;">
                            <a href="" style="font-size: 0.8em;"><i class="fa fa-lock"></i> Make Admin</a>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li class="list-item" style="padding: 2%;">
                        <div style="float: left;">
                            <h3 class="title" style="font-size: 1.4em;">
                                <i class="fa fa-user fa-white"></i> Yoshi
                            </h3>
                        </div>
                        <div style="float: right;">
                            <a href="" style="font-size: 0.8em;"><i class="fa fa-lock"></i> Make Admin</a>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li class="list-item" style="padding: 2%;">
                        <div style="float: left;">
                            <h3 class="title" style="font-size: 1.4em;">
                                <i class="fa fa-user fa-white"></i> Daniel Hizon
                            </h3>
                        </div>
                        <div style="float: right;">
                            <a href="" style="font-size: 0.8em;"><i class="fa fa-lock"></i> Make Admin</a>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li class="list-item" style="padding: 2%;">
                        <div style="float: left;">
                            <h3 class="title" style="font-size: 1.4em;">
                                <i class="fa fa-user fa-white"></i> Mr. Bean
                            </h3>
                        </div>
                        <div style="float: right;">
                            <a href="" style="font-size: 0.8em;"><i class="fa fa-lock"></i> Make Admin</a>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                </ul>
            </section>
        </article>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="../assets/reserve.js"></script> -->
</body>

</html>