
    <main class="wrapper">
        <article>
            <aside class="sidenav">
                <a href="" class="closebtn">
                        <i class="fa fa-times"></i>
                    </a>
                <a href="manage-users.html" class="tablinks">
                        <i class="fa fa-users"></i>
                        Manage Users
                    </a>
                <a href="" class="tablinks">
                        <i class="fa fa-server"></i>
                        Manage Test Lines
                    </a>
                <a href="manage-associations.html" class="tablinks active">
                        <i class="fa fa-exchange"></i>
                        Manage Associations
                    </a>
                <a href="" class="tablinks">
                        <i class="fa fa-steam"></i>
                        DOTA
                    </a>
            </aside>
            <section class="tabcontent">
                <h2>
                    <i class="fa fa-navicon sidenav-toggle"></i> Milo
                </h2>
                <div class="card-deck">
                    <div class="card-tl">
                        <div class="card-header bg-green">
                            <h3 class="card-tl-title">Line #3</h3>
                            <button class="card-tl-add" id="modal-btn">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="card-content">
                            <ul class="card-teams">
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-tl">
                        <div class="card-header bg-green">
                            <h3 class="card-tl-title">Line #3</h3>
                            <button class="card-tl-add" id="modal-btn">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="card-content">
                            <ul class="card-teams">
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                                <li class="card-team-icon">
                                    <span class="team-brand poke-ball"></span>poke-ball
                                    <button type="button" class="card-team-close">&times;</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pick a Team</h4>
                <button type="button" class="modal-close">&times;</button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        <a href=""><span class="team-brand poke-ball"></span>poke-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand premier-ball"></span>premier-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand great-ball"></span>great-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand ultra-ball"></span>ultra-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand master-ball"></span>master-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand safari-ball"></span>safari-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand level-ball"></span>level-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand lure-ball"></span>lure-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand moon-ball"></span>moon-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand friend-ball"></span>friend-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand love-ball"></span>love-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand heavy-ball"></span>heavy-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand fast-ball"></span>fast-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand sports-ball"></span>sports-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand repeat-ball"></span>repeat-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand timer-ball"></span>timer-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand nest-ball"></span>nest-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand net-ball"></span>net-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand dive-ball"></span>dive-ball</a>
                    </li>
                    <li>
                        <a href=""><span class="team-brand luxury-ball"></span>luxury-ball</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>