/* ******************** Body ******************** */

body {
    background: #3B4356;
    font-family: Raleway, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
h1,
h2{
    margin: 0;
} 

.wrapper {
    width: 96%;
    max-width: 600px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ******************** Header ******************** */
/* 
header {
    margin: 10px 0;
} */

.header-brand {
    color: #fff;
    /* text-decoration: none; */
    width: fit-content;
    margin: 10px auto;
}

#logo {
    float: left;
    margin-right: 10px;
    line-height: 1.2em;
    font-size: 2.5em;
}

.header-brand h1 {
    float: left;
    width: 100px;
    font-size: 1.2em;
    margin: 0;
}

.header-brand::after {
    content: "";
    display: block;
    clear: both;
}

#email-img{
    max-width: 420px;
}

#email-img img{
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid #5F6573;
}

main{
    margin: 20px auto !important;
}

main span.intro{
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

main h2{
    text-align: center;
    color: #fff;
    line-height: 1.3em;
}

main p{
    text-align: center;
    color: #fff;
    line-height: 1.6em;
}

main button[type="button"]{
    display: block;
    margin: 0 auto;
    background: #F18650;
    border: 1px solid #F18650;
    padding: 0.6em 1em;
    border-radius: 0.25em;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}

main button[type="button"]:hover{
    background: #ef7234;
    border: 1px solid #ef7234;
}

footer{
    border-top: 1px solid #5F6573;
}

footer p{
    text-align: center;
    color: #777E8E;
    line-height: 1.6em;
    font-size: 14px;
}