/* ********************* Body **********************/

body {
    background: #333;
    font-family: Raleway, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.icon-lg {
    font-size: 4.5em;
}

.wrapper {
    width: 96%;
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ********************* Nav **********************/

#main-nav {
    background: #0275d8;
    padding: 10px;
    z-index: 1;
}


/* ********************* Burger Nav **********************/

#burger-nav {
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* ********************* navbar brand **********************/

.navbar-brand {
    color: #fff;
    text-decoration: none;
}

#logo {
    float: left;
    margin-right: 10px;
    line-height: 1.2em;
    font-size: 2.5em;
}

.navbar-brand h1 {
    float: left;
    width: 160px;
    font-size: 1.2em;
}

.navbar-brand::after {
    content: "";
    display: block;
    clear: both;
}


/* ********************* navbar nav **********************/

.navbar-nav {
    clear: both;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navbar-nav.open {
    height: 80px;
    margin-top: 8px;
}

.navbar-nav h2 {
    display: none;
}

.navbar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1em;
}

.navbar-nav a:hover {
    background: #42A5F5;
}


/* ********************* Sub-nav **********************/

#sub-nav {
    position: relative;
    top: 20px;
}

#sub-nav .dropbtn {
    position: absolute;
    right: 15px;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
}

#sub-nav .dropdown-triangle {
    display: none;
    position: absolute;
    top: 32px;
    right: 114px;
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 0 8.5px 8.5px;
    border-style: dashed dashed solid;
    height: 0;
    width: 0;
}

#sub-nav .dropdown-content {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 1px;
    margin: auto;
    width: 265px;
    padding: 26px;
    z-index: 1;
    background: #f9f9f9;
    max-height: 555px;
    overflow-y: auto;
}

#sub-nav .dropdown-content.show {
    display: flex;
}

#sub-nav .dropdown-triangle.show {
    display: block;
}

#sub-nav .dropdown-content li {
    width: 33%;
    display: flex;
}

#sub-nav .dropdown-content a {
    flex: 1 1 0;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin: 8px 2px;
    padding: 4px 0;
    font-size: 14px;
    overflow: hidden;
    overflow-wrap: break-word;
}

#sub-nav .dropdown-content a:hover {
    border: 1px solid #ccc;
}

#sub-nav .team-brand {
    background: url(pokeballs.png) no-repeat center;
    background-size: 250px 200px;
    display: block;
    margin: 5px auto;
    width: 48px;
    height: 50px;
}


/********************** Main **********************/

main h1 {
    margin: 20px 0;
    color: #fff;
    text-transform: uppercase;
}


/* ********************* Section **********************/

section {
    margin: 2% 0;
    border-top: 1px solid #999;
}

section h2 {
    position: relative;
    top: -15px;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #333;
    text-transform: uppercase;
}


/* ********************* Card-deck **********************/

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* ********************* Card **********************/

.card {
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 0.25em;
}

.card-header {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    position: relative;
}

.card-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 4%;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.card-title::after,
.card-text::after {
    content: "";
    display: block;
    clear: both;
}

.card-title {
    margin-bottom: 8px;
}

.card-text {
    color: #555;
    font-style: italic;
    margin: 8px 0;
}

.card-ellipsis {
    text-align: center;
}

.card-btn {
    width: 100%;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 8px 16px;
    align-self: flex-end;
}

.card .card-btn:hover {
    background: #ccc;
}


/* ********************* Card Dropdown **********************/

.card .dropdown {
    position: relative;
    top: -10px;
}

.card .dropbtn {
    position: absolute;
    right: 0;
    top: -5px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 2.5em;
}

.card .dropdown-content {
    display: none;
    background: #f9f9f9;
    position: absolute;
    top: 48px;
    right: 0;
    min-width: 110px;
    z-index: 1;
    box-shadow: 0 2px 4px #888;
}

.card .dropdown-content.show {
    display: block;
}

.card .dropdown-content a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 8px 0;
}

.card .dropdown-content a:hover {
    background: #f1f1f1;
}


/* ********************* Badges **********************/

.badge {
    float: right;
    display: block;
    background: #777;
    padding: 4px 6px;
    border-radius: 0.25em;
    color: #fff;
    text-transform: uppercase;
}

.badge.badge-current {
    background: #0275d8;
    font-size: 0.8em;
}

.badge.badge-next {
    font-size: 0.6em;
    background: #18a3fa;
}

.badge.badge-pending {
    font-size: 0.6em;
}


/* ********************* Font awesome icons **********************/

.fa-white {
    color: #fff;
}


/* ********************* backgrounds **********************/

.bg-green {
    background: #5cb85c;
}

.bg-red {
    background: #a94442;
}


/* ********************* Poke-balls **********************/

.poke-ball {
    background-position: 0 0 !important;
}

.premier-ball {
    background-position: -50px 0 !important;
}

.great-ball {
    background-position: -98px 0 !important;
}

.ultra-ball {
    background-position: -148px 0 !important;
}

.master-ball {
    background-position: -198px 0 !important;
}

.safari-ball {
    background-position: 0 -50px !important;
}

.level-ball {
    background-position: -50px -50px !important;
}

.lure-ball {
    background-position: -100px -50px !important;
}

.moon-ball {
    background-position: -150px -50px !important;
}

.friend-ball {
    background-position: -200px -50px !important;
}

.love-ball {
    background-position: 0 -100px !important;
}

.heavy-ball {
    background-position: -50px -100px !important;
}

.fast-ball {
    background-position: -100px -100px !important;
}

.sports-ball {
    background-position: -150px -100px !important;
}

.repeat-ball {
    background-position: -200px -100px !important;
}

.timer-ball {
    background-position: 0 -150px !important;
}

.nest-ball {
    background-position: -50px -150px !important;
}

.nest-ball {
    background-position: -100px -150px !important;
}

.dive-ball {
    background-position: -150px -150px !important;
}

.luxury-ball {
    background-position: -200px -150px !important;
}


/* ********************* Media Queries **********************/

@media screen and (min-width: 320px) {}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 1 46%;
        margin: 2%;
    }
    #burger-nav {
        display: none;
    }
    .navbar-brand {
        float: left;
    }
    .navbar-nav,
    .navbar-nav.open {
        margin-top: 6px;
        height: auto;
        float: right;
        clear: none;
    }
    .navbar-nav li {
        float: left;
        border-right: 1px solid #fff;
    }
    .navbar-nav a {
        padding: 10px 40px;
    }
    .navbar-nav li:last-child {
        border: 0;
    }
    nav::after {
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (min-width: 992px) {
    .card {
        flex: 0 1 31%;
        margin: 1%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        flex: 0 1 23%;
    }
}