/* ******************** Body ******************** */

body {
    background: #333;
    font-family: Raleway, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.icon-lg {
    font-size: 4.5em;
}

.fa-white {
    color: #fff;
}

.wrapper {
    width: 96%;
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ******************** Nav ******************** */

#main-nav {
    background: #0275d8;
    padding: 10px;
    z-index: 1;
}


/* ******************** Burger Nav ******************** */

#burger-nav {
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 6px 0;
    transition: 0.4s;
}


/* ******************** Rotate first bar ******************** */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}


/* ******************** Fade out the second bar ******************** */

.change .bar2 {
    opacity: 0;
}


/* ******************** Rotate last bar ******************** */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* ******************** navbar brand ******************** */

.navbar-brand {
    color: #fff;
    text-decoration: none;
}

#logo {
    float: left;
    margin-right: 10px;
    line-height: 1.2em;
    font-size: 2.5em;
}

.navbar-brand h1 {
    float: left;
    width: 160px;
    font-size: 1.2em;
}

.navbar-brand::after {
    content: "";
    display: block;
    clear: both;
}


/* ******************** navbar nav ******************** */

.navbar-nav {
    clear: both;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navbar-nav.open {
    height: 80px;
    margin-top: 8px;
}

.navbar-nav h2 {
    display: none;
}

.navbar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1em;
}

.navbar-nav a:hover {
    background: #42A5F5;
}


/* ******************** Sub-nav ******************** */

#sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub-nav h1 {
    margin: 20px 0;
    color: #fff;
    text-transform: uppercase;
}


/* ******************** Sub-nav Dropdown ******************** */

#sub-nav .dropbtn {
    font-size: 1.5em;
}

#sub-nav .dropdown-triangle {
    display: none;
    position: absolute;
    top: 32px;
    right: 100px;
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 0 8.5px 8.5px;
    border-style: dashed dashed solid;
    height: 0;
    width: 0;
}

#sub-nav .dropdown-content {
    flex-wrap: wrap;
    justify-content: center;
    width: 265px;
    padding: 26px;
    max-height: 370px;
    overflow-y: auto;
}

#sub-nav .dropdown-content.show {
    display: flex;
}

#sub-nav .dropdown-triangle.show {
    display: block;
}

#sub-nav .dropdown-content li {
    width: 33%;
}

#sub-nav .dropdown-content a:hover {
    border: 1px solid #ccc;
}


/* ******************** Team-brand ******************** */

.team-brand {
    background: url(pokeballs.png) no-repeat center;
    background-size: 250px 200px;
    display: block;
    margin: 5px auto;
    width: 48px;
    height: 50px;
}


/* ******************** Poke-balls ******************** */

.team-brand.poke-ball {
    background-position: 0 0 !important;
}

.team-brand.premier-ball {
    background-position: -50px 0 !important;
}

.team-brand.great-ball {
    background-position: -98px 0 !important;
}

.team-brand.ultra-ball {
    background-position: -148px 0 !important;
}

.team-brand.master-ball {
    background-position: -198px 0 !important;
}

.team-brand.safari-ball {
    background-position: 0 -50px !important;
}

.team-brand.level-ball {
    background-position: -50px -50px !important;
}

.team-brand.lure-ball {
    background-position: -100px -50px !important;
}

.team-brand.moon-ball {
    background-position: -150px -50px !important;
}

.team-brand.friend-ball {
    background-position: -200px -50px !important;
}

.team-brand.love-ball {
    background-position: 0 -100px !important;
}

.team-brand.heavy-ball {
    background-position: -50px -100px !important;
}

.team-brand.fast-ball {
    background-position: -100px -100px !important;
}

.team-brand.sports-ball {
    background-position: -150px -100px !important;
}

.team-brand.repeat-ball {
    background-position: -200px -100px !important;
}

.team-brand.timer-ball {
    background-position: 0 -150px !important;
}

.team-brand.nest-ball {
    background-position: -50px -150px !important;
}

.team-brand.net-ball {
    background-position: -100px -150px !important;
}

.team-brand.dive-ball {
    background-position: -150px -150px !important;
}

.team-brand.luxury-ball {
    background-position: -200px -150px !important;
}


/* ******************** Article ******************** */

article {
    display: flex;
}


/* ******************** Section ******************** */

#available,
#in-use,
#maintenance {
    margin: 2% 0;
    border-top: 1px solid #999;
}

#available h2,
#in-use h2,
#maintenance h2 {
    position: relative;
    top: -15px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #333;
    text-transform: uppercase;
}

.tabcontent {
    /* display: none; */
    padding: 0 2%;
    flex: 1 1 0;
}

.tabcontent h2 {
    font-size: 1.8em;
    margin: 20px 0;
    color: #000;
    color: #fff;
    text-transform: uppercase;
}


/* ******************** Sidenav ******************** */

.sidenav {
    /* background: #f5f5f5; */
    background: #3c3c3c;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    overflow: hidden;
    transition: 0.5s;
}

.sidenav.toggle {
    width: 100%;
}

.sidenav .tablinks {
    /* color: #000; */
    color: #fff;
    text-decoration: none;
    padding: 1em 0;
    display: block;
    white-space: nowrap;
    text-align: center;
}

.sidenav .tablinks.active {
    background: #444;
}

.sidenav .tablinks:hover {
    /* background: #e5e5e5; */
    background: #444;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 4px 12px 6px 12px;
    line-height: 1.2em;
}


/* ******************** Card Deck ******************** */

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* ******************** Cards ******************** */

.card {
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 0.25em;
}

.card-header {
    display: block;
    color: #fff;
    padding: 4%;
    text-align: center;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    position: relative;
}

.card-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 4%;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.card-title::after,
.card-text::after {
    content: "";
    display: block;
    clear: both;
}

.card-title {
    margin-bottom: 8px;
}

.card-text {
    color: #555;
    font-style: italic;
    margin: 8px 0;
}

.card-ellipsis {
    text-align: center;
}

.card-btn {
    width: 100%;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    align-self: flex-end;
}

.card .card-btn:hover {
    background: #ccc;
}


/* ******************** Card Dropdown ******************** */

.card .dropbtn {
    font-size: 2em;
    position: absolute;
    right: 0;
}

.card .dropdown-content {
    min-width: 110px;
}

.card .dropdown-content.show {
    display: block;
}

.card .dropdown-content a:hover {
    background: #ccc;
}

/* ******************** Card TL ******************** */

.card-tl{
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 0.25em;
}

.card-tl-title {
    float: left;
}

.card-tl-add{
    background: transparent;
    color: #fff;
    border: 0;
    float: right;
    font-size: 1.6em;
    cursor: pointer;
}

.card-teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-team-icon{
    flex: 0 1 32%;
    text-align: center;
    color: #000;
    text-decoration: none;
    position: relative;
    /* padding: 0.8rem; */
}

.card-team-close{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    font-size: 1em;
    cursor: pointer;
}

/* ******************** Badges ******************** */

.badge {
    float: right;
    display: block;
    background: #777;
    padding: 4px 6px;
    border-radius: 0.25em;
    color: #fff;
    text-transform: uppercase;
}

.badge.badge-current {
    background: #0275d8;
    font-size: 0.8em;
}

.badge.badge-next {
    font-size: 0.6em;
    background: #18a3fa;
}

.badge.badge-pending {
    font-size: 0.6em;
}


/* ******************** List Group ******************** */

.list-item {
    box-sizing: border-box;
    padding: 4%;
    background: #616161;
    position: relative;
}

.list-item:nth-of-type(odd) {
    /* background: #f1f1f1; */
    background: #424242;
}

.list-item .title {
    /* color: #555; */
    color: #e1e1e1;
    font-size: 1.5em;
}

.list-item .subtitle {
    /* color: #555; */
    color: #e1e1e1;
    font-style: italic;
}

.list-item .description {
    /* color: #555; */
    color: #e1e1e1;
    font-size: 14px;
    line-height: 1.6em;
}

.list-item .release {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 0.6em 1em;
    border: 0;
    background: #d9534f;
}

.list-item .release:hover {
    background: #a94442 !important;
}

.list-item a {
    display: inline-block;
    /* color: #000; */
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    /* border: 1px solid #000; */
    border: 1px solid #fff;
    border-radius: 0.25em;
}

.list-item a:hover {
    /* background: #e1e1e1; */
    background: #444;
}

.list-item:nth-of-type(odd) a:hover {
    background: #616161;
}


/* ******************** Dropdown ******************** */

.dropdown {
    position: relative;
}

.dropbtn {
    background: transparent;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background: #f9f9f9;
    position: absolute;
    top: 40px;
    right: 1px;
    z-index: 1;
    box-shadow: 0 2px 4px #555;
}

.dropdown-content a {
    color: #000;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    margin: 8px 2px;
    font-size: 14px;
    overflow: hidden;
    overflow-wrap: break-word;
}


/* ******************** modal ******************** */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal.show{
    display: block;
}

.modal-content {
    width: 100%;
    margin: 10% auto;
    background: #fefefe;
    padding: 26px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 0.25em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header {
    margin-bottom: 10px;
}

.modal-header .modal-title {
    float: left;
    font-size: 1.6em;
}

.modal-close {
    border: 0;
    background: transparent;
    font-size: 1.6em;
    float: right;
    cursor: pointer;
    color: #aaa;
}

.modal-close{
    color: #000;
}

.modal-header::after {
    content: "";
    display: block;
    clear: both;
}

.modal-body ul {
    display: flex;
    flex-wrap: wrap;
}

.modal-body ul::after {
    content: "";
    display: block;
    clear: both;
}

.modal-body li {
    flex: 1 0 20%;
}

.modal-body a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    /* margin: 8px 2px; */
    padding: 8px 2px;
}

.modal-body a:hover {
    border: 1px solid #ccc;
}


/* ******************** bg-color ******************** */

.bg-green {
    background: #5cb85c;
}

.bg-red {
    background: #a94442;
}

.bg-yellow {
    background: #f0ad4e;
}


/* ******************** text-color ******************** */

.text-danger {
    background: #d9534f;
    color: #fff !important;
    border-color: #d9534f !important;
}

.text-danger:hover {
    background: #a94442 !important;
}


/* ******************** Media Queries ******************** */

@media screen and (min-width: 320px) {}

@media screen and (min-width: 576px) {
    .modal-content{
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 1 48%;
        margin: 1%;
    }
    #burger-nav {
        display: none;
    }
    .navbar-brand {
        float: left;
    }
    .navbar-nav,
    .navbar-nav.open {
        margin-top: 6px;
        height: auto;
        float: right;
        clear: none;
    }
    .navbar-nav li {
        float: left;
        border-right: 1px solid #fff;
    }
    .navbar-nav a {
        padding: 10px 40px;
    }
    .navbar-nav li:last-child {
        border: 0;
    }
    nav::after {
        content: "";
        display: block;
        clear: both;
    }
    .sidenav,
    .sidenav.toggle {
        position: static;
        height: auto;
    }
    .sidenav {
        width: 250px;
    }
    .sidenav.toggle {
        width: 0;
    }
    .sidenav .closebtn {
        display: none;
    }
    .modal-content{
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .card-tl{
        flex: 0 1 48%;
        margin: 1%;
    }
    .card {
        flex: 0 1 31%;
        margin: 1%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        flex: 0 1 23%;
    }
}


/* Reservation Form */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
.reservation-form,
.reservation-form * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: 25px;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.reserve input[type="text"],
.reserve input[type="email"],
.reserve input[type="tel"],
.reserve input[type="url"],
.reserve textarea,
.reserve button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.reserve {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reserve h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.reserve h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.reserve input[type="text"],
.reserve input[type="email"],
.reserve input[type="tel"],
.reserve input[type="url"],
.reserve select,
.reserve option,
.reserve button,
.reserve textarea {
    border-radius: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.reserve input[type="text"]:hover,
.reserve input[type="email"]:hover,
.reserve input[type="tel"]:hover,
.reserve input[type="url"]:hover,
.reserve textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

.reserve textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

.reserve button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

.reserve button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.reserve button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

.reserve input:focus,
.reserve textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}