<% if user_signed_in? %>
	<% if current_user.isAdmin? %>
		<main class="wrapper">
		    <section id="add-testline">
				<h2>Edit TestLine</h2>
				<%= render 'form' %>
			</section>
		</main>
	<% else %>
		<div class="wrapper-greeting">
			<div class="alert alert-success alert-dismissible">
				<h4 class="alert-heading">Sorry, you need to be an admin to view this page. Please contact the administrator if you want to be one.</h4>
			</div>
		</div>
	<% end %>

<% else %>
	<div class="wrapper-greeting">
		<div class="alert alert-success alert-dismissible">
			<h4 class="alert-heading">Sorry, you need to be logged-in to view this page.</h4>
		</div>
	</div>

<% end %>