<% if user_signed_in? %>

	<% if current_user.isAdmin? %>
		<main class="wrapper">
		    <section id="add-testline">
		    	<h2>Add New TestLine</h2>
				<%= render 'form' %>
			</section>
		</main>
	<% else %>

		<h1>Sorry, you need to be an admin to view this page.</h1>
		<p>Please contact the administrator if you want to be one.</p>

	<% end %>

<% else %>
	<h1>Sorry, you need to be logged-in to view this page.</h1>
<% end %>
