
    <nav id="main-nav">
        <div class="wrapper">
            <button type="button" id="burger-nav">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </button>
            <a href="/" class="navbar-brand">
                <i class="fa fa-server icon-lg" id="logo"></i>
                <h1>Test Line Reservation</h1>
            </a>
            <div class="navbar-nav">
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href=""><i class="fa fa-calendar-check-o"></i> Teams</a></li>
                    <li><a href=""><i class="fa fa-calendar-check-o"></i> Reservations</a></li>
                    <li><a href=""><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="rails-container">
        <main class="wrapper" id="sidenav-container">
            <aside class="sidenav">
                <div class="wrapper">
                    <ul>
                        <li>
                            <a href="" class="closebtn"><i class="fa fa-times"></i></a>
                        </li>
                        <li>
                            <a href="" class="sidenav-links">
                                <i class="fa fa-server"></i> Line #1
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-links">
                                <i class="fa fa-server"></i> Line #2
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-links">
                                <i class="fa fa-server"></i> Line #3
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <section id="reservations">
                <button type="button" class="sidenav-toggler">
                    <i class="fa fa-caret-left show-left"></i> 
                    <i class="fa fa-navicon"></i> 
                    <i class="fa fa-caret-right show-right"></i>
                </button>
                <h2>Reservations</h2>
                <ul class="list-group">
                    <div class="vertical-bar"></div>
                    <li class="list-item list-item-primary">
                        <small class="badge badge-primary"><i class="fa fa-star"></i> Current</small>
                        <div class="list-item-header">
                            <h3 class="title">Lorem Ipsum</h3>
                            <small class="timestamp">3 mins ago</small>
                            <p class="subtitle">Team Apple</p>
                        </div>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
                        </p>
                        <div class="list-item-footer">
                            <small class="user">Reserved by Email</small>
                            <span class="time-used"><i class="fa fa-clock-o"></i> 2hrs 58mins</span>
                        </div>
                        <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item list-item-next">
                        <small class="badge badge-next"><i class="fa fa-fast-forward"></i> Next in Line</small>
                        <div class="list-item-header">
                            <h3 class="title">Lorem Ipsum</h3>
                            <small class="timestamp">3 mins ago</small>
                            <p class="subtitle">Team Apple</p>
                        </div>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
                        </p>
                        <div class="list-item-footer">
                            <small class="user">Reserved by Email</small>
                        </div>
                        <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item list-item-pending">
                        <small class="badge badge-pending"><i class="fa fa-hourglass-1"></i> Pending</small>
                        <div class="list-item-header">
                            <h3 class="title">Lorem Ipsum</h3>
                            <small class="timestamp">3 mins ago</small>
                            <p class="subtitle">Team Apple</p>
                        </div>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
                        </p>
                        <div class="list-item-footer">
                            <small class="user">Reserved by Email</small>
                        </div>
                        <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item list-item-pending">
                        <small class="badge badge-pending"><i class="fa fa-hourglass-1"></i> Pending</small>
                        <div class="list-item-header">
                            <h3 class="title">Lorem Ipsum</h3>
                            <small class="timestamp">3 mins ago</small>
                            <p class="subtitle">Team Apple</p>
                        </div>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
                        </p>
                        <div class="list-item-footer">
                            <small class="user">Reserved by Email</small>
                        </div>
                        <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item list-item-pending">
                        <small class="badge badge-pending"><i class="fa fa-hourglass-1"></i> Pending</small>
                        <div class="list-item-header">
                            <h3 class="title">Lorem Ipsum</h3>
                            <small class="timestamp">3 mins ago</small>
                            <p class="subtitle">Team Apple</p>
                        </div>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
                        </p>
                        <div class="list-item-footer">
                            <small class="user">Reserved by Email</small>
                        </div>
                        <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
                    </li>
                    <li class="list-item list-item-pending">
                        <small class="badge badge-pending"><i class="fa fa-hourglass-1"></i> Pending</small>
                        <div class="list-item-header">
                            <h3 class="title">Lorem Ipsum</h3>
                            <small class="timestamp">3 mins ago</small>
                            <p class="subtitle">Team Apple</p>
                        </div>
                        <p class="description">Nulla vitae libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
                        </p>
                        <div class="list-item-footer">
                            <small class="user">Reserved by Email</small>
                        </div>
                        <button type="button" class="release show-delete-modal"><i class="fa fa-times"></i> Release</button>
                    </li>
                </ul>
            </section>
        </main>

        <div class="modal" id="delete-modal">
            <div class="modal-confirm">
                <div class="modal-header">
                    <button type="button" class="modal-close">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-trash"></i> Delete</h3>
                </div>
                <div class="modal-body">
                    <p class="modal-text">Are you sure you want to delete Apple?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn bg-red">Delete</button>
                    <button type="button" class="modal-btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>