<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h1 id="logo">Test Line Reservation</h1>
            <nav>
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Schedule</a></li>
                    <li><a href="">Status</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="wrapper">
        <section>
            <div class="card">
                <img src="images/user-icon.png" alt="card-banner-1">
                <div class="card-block">
                    <h4>Line #1</h4>
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="password" class="form-control" placeholder="Password">
                    <a href="" class="card-btn">Reserve Now!</a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>