<%= form_for([@testline,@testline.reservations.build]) do |f| %>
    <p> <%= f.label :name%>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
        
<% end %>