<% if current_user.team.nil? %>
    <div class="modal-body">
        <p style="text-align: center; margin: 10px;">You must choose a team first 
            before you can reserve a testline or ask an admin to assign you to one.</p>
    </div>
<% else %>
    <%= form_for([@testline, @testline.reservations.build]) do |f| %>
        <div class="modal-body">
            <div class="form-group">
                <label for="reservation_name">Title:</label>
                <%= f.text_field :name, :class => "form-control", 
                    :placeholder => "Test title", :required => "required" %>
            </div>

            <div class="form-group">
                <label for="reservation_recipient">Email:</label>
                <small>Who you want to notify when you become the user of the testline. (optional)</small>
                <div class="input-group">
                    <input type="email" id="reservation_recipient" placeholder="recipient@nokia.com">
                    <button type="button" class="input-addon bg-green" onclick="addRecipient()">
                        <i class="fa fa-plus fa-fw"></i> Add
                    </button>
                </div>
                <div style="margin-bottom: 15px;">
                    <small id="email-error" class="text-red"></small>
                </div>

                <ul id="recipient-list" class="chip-list">
                    <input type="hidden" name="recipient[email][]">
                </ul>
            </div>
            
            <div class="form-group">
            <label for="reservation_description">Description:</label>
                <%= f.text_area :description, :class => "form-control", 
                    :placeholder => "Test description", :required => "required" %>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-btn" data-dismiss="modal">Submit</button>
        </div>
    <% end %>
<% end %>