<br/><h2>Test title: <%= reservation.name %></h2>
<h2>Team/User: <%= reservation.team_name %></h2>
<h2>Description: <%= reservation.description %></h2>
<p><%= link_to 'Release',[reservation.testline,reservation], method: :delete, data:{confirm: 'Release?'} %> </p> 