/* ********************* Body **********************/

body{
    background: #e4f1fe;
    font-family: Raleway, sans-serif;
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

.wrapper{
    width: 96%;
    max-width: 1199px;
    padding: 0 2%;
    margin: 0 auto;
}

/* ********************* Header **********************/

header{
    background: #0275d8;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 8px #777;
    border-bottom: 1px solid #777;
}

header h1{
    float: left;
}

/* ********************* Nav **********************/
header nav{
    float: right;
}

header nav h2{
    display: none;
}

/* ********************* Nav Links **********************/

header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav li{
    float: left;
}

header nav li + li::before{
    display: inline-block;
    content: "|";
}

header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

header::after{
    content: "";
    display: block;
    clear: both;
}

/* ********************* Main Banner **********************/

#main-banner{
    max-height: 240px;
    overflow: hidden;
    position: relative;
}

#main-banner img{
    width: 100%;
}

section{
    margin-top: 10%;
}

/* ********************* Card **********************/

.card{
    width: 30%;
    margin: auto;
    border-radius: 0.25em;
    box-shadow: 0 4px 8px #888;
}

.card:nth-of-type(2){
    margin: 0 2%;
}

.card img{
    background: #e4e4e4;
    /*width: 100%;*/
    max-height: 200px;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.card-block{
    background: #fff;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    box-sizing: border-box;
    padding: 8px;
}

.card h4{
    font-size: 20px;
    margin: 4px 0;
}

.card p{
    font-size: 14px;
    color: #555;
}

.card .card-btn{
    display: block;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 8px 16px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.card .card-btn:hover{
    background: #eee;
}

.form-control{
    display: block;
    border: 0;
}