/* ******************** Home / Welcome ******************** */

#choose,
#reserve,
#queue,
#release {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: 74% top !important;
    background-size: cover !important;
}

#choose,
#queue {
    background-position: 75% top !important;
}

#reserve,
#release {
    background-position: 25% top !important;
    text-align: right;
}

#reserve p,
#release p {
    float: right;
}

#choose {
    background: url(banner-1.png) no-repeat;
}

#reserve {
    background: url(banner-2-flip.png) no-repeat;
}

#queue {
    background: url(banner-3.png) no-repeat;
}

#release {
    background: url(banner-4-flip.png) no-repeat;
}

#choose img,
#reserve img,
#queue img,
#release img {
    width: 100%;
    height: 100%;
}

.banner-overlay {
    position: absolute;
    top: 10%;
    width: 100%;
}

.banner-overlay .display-1 {
    font-size: 3em;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
}

.banner-overlay .overlay-text {
    font-size: 1.6em;
    line-height: 1.6em;
    width: 75%;
    color: #e9e9e9;
}


/* ******************** Login ******************** */

.login-card {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    background: #fff;
}

.login-card .login-icon {
    margin-top: 30px;
    display: block;
    text-align: center;
    color: #34495e;
}

.login-card .login-form {
    padding: 30px;
}

.login-card .login-text {
    border-top: 1px solid #e4e4e4;
    text-align: center;
}

.login-card .login-text h2 {
    position: relative;
    top: -0.75em;
    display: inline-block;
    padding: 0 20px;
    color: #777;
    background: #fff;
}

.login-card .login-form .login-button {
    /* background: rgb(68, 68, 68); */
    background: #34495e;
    opacity: 0.85;
    border: 0;
    color: #fff;
    margin-top: 8px;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    width: 100%;
}

.login-card .login-form .login-button:hover {
    opacity: 1;
}

.login-card .login-form .forgot-password {
    text-align: center;
    color: #777;
    text-decoration: none;
    border-bottom: 1px dashed #777;
}

.login-card .login-form .forgot-password:hover {
    color: #333;
}


/* ******************** Media Queries ******************** */

@media screen and (min-width: 480px) {
    .banner-overlay .overlay-text {
        font-size: 2em;
    }
    .banner-overlay .display-1 {
        font-size: 4em;
    }
}