/* ********************* Body **********************/

body {
    background: #333;
    font-family: Raleway, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.icon-lg {
    font-size: 4.5em;
}

.wrapper {
    width: 96%;
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ********************* Nav **********************/

#main-nav {
    background: #0275d8;
    padding: 10px;
    z-index: 1;
}

#sub-nav{
    background: #f0f0f0;
    padding: 10px;
}


/* ********************* Burger Nav **********************/

#burger-nav {
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* ********************* navbar brand **********************/

.navbar-brand {
    color: #fff;
    text-decoration: none;
}

#logo {
    float: left;
    margin-right: 10px;
    line-height: 1.2em;
    font-size: 2.5em;
}

.navbar-brand h1 {
    float: left;
    width: 160px;
    font-size: 1.2em;
}

.navbar-brand::after {
    content: "";
    display: block;
    clear: both;
}


/* ********************* navbar nav **********************/

.navbar-nav {
    clear: both;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navbar-nav.open {
    height: 80px;
    margin-top: 8px;
}

.navbar-nav h2 {
    display: none;
}

.navbar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1em;
}

.navbar-nav a:hover {
    background: #42A5F5;
}

/* ********************* Section **********************/

section {
    margin: 5% 0;
    border-top: 1px solid #999;
}

section h2{
    position: relative;
    top: -15px;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #333;
    text-transform: uppercase;
}

/* ********************* Card-deck **********************/

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ********************* Card **********************/

.card {
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 0.25em;
}

.card-header {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.card-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 4%;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.card-title::after, 
.card-text::after{
    content: "";
    display: block;
    clear: both;
}

.card-title{
    margin-bottom: 8px;
}

.card-text {
    color: #555;
    font-style: italic;
    margin: 8px 0;
}

.card-ellipsis{
    text-align: center;
}

.card-btn {
    width: 100%;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 8px 16px;
    align-self: flex-end;
}

.card .card-btn:hover {
    background: #ccc;
}


/* ********************* Badges **********************/

.badge{
    float: right;
    display: block;
    background: #777;
    padding: 4px 6px;
    border-radius: 0.25em;
    color: #fff;
    text-transform: uppercase;
}

.badge.badge-current{
    background: #0275d8;
    font-size: 0.8em;
}
.badge.badge-next{
    font-size: 0.6em;
    background: #18a3fa;
}
.badge.badge-pending{
    font-size: 0.6em;
}


/* ********************* Font awesome icons **********************/

.fa-white {
    color: #fff;
}


/* ********************* backgrounds **********************/

.bg-green {
    background: #5cb85c;
}

.bg-red {
    background: #a94442;
}


/* ********************* Media Queries **********************/

@media screen and (min-width: 320px) {}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 1 46%;
        margin: 2%;
    }
    #burger-nav {
        display: none;
    }
    .navbar-brand {
        float: left;
    }
    .navbar-nav,
    .navbar-nav.open {
        margin-top: 6px;
        height: auto;
        float: right;
        clear: none;
    }
    .navbar-nav li {
        float: left;
        border-right: 1px solid #fff;
    }
    .navbar-nav a {
        padding: 10px 40px;
    }
    .navbar-nav li:last-child {
        border: 0;
    }
    nav::after {
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (min-width: 992px) {
    .card {
        flex: 0 1 31%;
        margin: 1%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        flex: 0 1 23%;
    }
}


************* Reservations View **************
/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    background-color: #f1f1f1;
}