body {
    background-color: #eee;
    font-family: Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(loginbackground.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.wrapper {
    width: 96%;
    max-width: 1199px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ********************* Header **********************/

header {
    background: #0275d8;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 8px #555;
    border-bottom: 1px solid #222;
}

header h1 {
    float: left;
}


/* ********************* Nav **********************/

header nav {
    float: right;
}

header nav h2 {
    display: none;
}


/* ********************* Nav Links **********************/

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav li {
    float: left;
}

header nav li+li::before {
    display: inline-block;
    content: "|";
}

header nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

main {
    margin-top: 40px !important;
}
