/* ********************* Body **********************/

body {
    background: #333;
    font-family: Raleway, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.icon-lg {
    font-size: 4.5em;
}

.wrapper {
    width: 96%;
    max-width: 1199px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ********************* Burger Nav **********************/

nav {
    background: #0275d8;
    padding: 10px;
    z-index: 1;
}


/* ********************* Burger Nav **********************/

#burger-nav {
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* ********************* navbar brand **********************/

.navbar-brand {
    color: #fff;
    text-decoration: none;
}

#logo {
    float: left;
    margin-right: 10px;
    line-height: 1.2em;
    font-size: 2.5em;
}

.navbar-brand h1 {
    float: left;
    width: 160px;
    font-size: 1.2em;
}

.navbar-brand::after {
    content: "";
    display: block;
    clear: both;
}


/* ********************* navbar nav **********************/

.navbar-nav {
    content: "";
    clear: both;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navbar-nav.open {
    height: 80px;
    margin-top: 8px;
}

.navbar-nav h2 {
    display: none;
}

.navbar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1em;
}

.navbar-nav a:hover {
    background: #42A5F5;
}


/* ********************* Main **********************/

main {
    display: flex;
}

section{
    flex: 1 1 100%;
    padding: 0 2%;
}

section h2{
    font-size: 1.8em;
    margin: 20px 0;
    /* color: #000; */
    color: #fff;
}


/* ********************* Sidenav **********************/

.sidenav {
    /* background: #f5f5f5; */
    background: #3c3c3c;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    overflow: hidden;
    transition: 0.5s;
}

.sidenav.toggle {
    width: 100%;
}

.sidenav a {
    /* color: #000; */
    color: #fff;
    text-decoration: none;
    padding: 1em 0;
    display: block;
    white-space: nowrap;
    text-align: center;
}

.sidenav a:hover {
    /* background: #e5e5e5; */
    background: #444;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 4px 12px 6px 12px;
    line-height: 1.2em;
}


/* ********************* background **********************/

.text-danger {
    background: #d9534f;
    color: #fff !important;
    border-color: #d9534f !important;
}

.text-danger:hover {
    background: #a94442 !important;
}


/* ********************* list-group **********************/

.list-item {
    box-sizing: border-box;
    padding: 5%;
    background: #616161;
}

.list-item:nth-of-type(odd) {
    /* background: #f1f1f1; */
    background: #424242;
}

.list-item .title {
    /* color: #555; */
    color: #e1e1e1;
    font-size: 1.5em;
}

.list-item .subtitle {
    /* color: #555; */
    color: #e1e1e1;
    font-style: italic;
}

.list-item .description {
    /* color: #555; */
    color: #e1e1e1;
    font-size: 14px;
    line-height: 1.6em;
}

.list-item a {
    display: inline-block;
    /* color: #000; */
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    /* border: 1px solid #000; */
    border: 1px solid #fff;
    border-radius: 0.25em;
}

.list-item a:hover {
    /* background: #e1e1e1; */
    background: #444;
}

.list-item:nth-of-type(odd) a:hover{
    background: #616161;
}


/* ********************* Media Queries **********************/

@media screen and (min-width: 320px) {}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    #burger-nav {
        display: none;
    }
    .navbar-brand{
        float: left;
    }
    .navbar-nav,
    .navbar-nav.open {
        margin-top: 6px;
        height: auto;
        float: right;
        clear: none;
    }
    .navbar-nav li {
        float: left;
        border-right: 1px solid #fff;
    }
    .navbar-nav a {
        padding: 10px 40px;
    }
    .navbar-nav li:last-child {
        border: 0;
    }
    nav::after {
        content: "";
        display: block;
        clear: both;
    }
    .sidenav,
    .sidenav.toggle {
        position: initial;
    }
    .sidenav{
        width: 250px;
    }
    .sidenav.toggle{
         width: 0; 
    }
    .sidenav .closebtn {
        display: none;
    }
    section {
        float: left;
        width: auto !important;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}