/* ********************* Body **********************/

body {
    /*background: #e4f1fe;*/
    font-family: Raleway, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.wrapper {
    width: 96%;
    max-width: 1199px;
    padding: 0 2%;
    margin: 0 auto;
}


/* ********************* Header **********************/

header {
    background: #0275d8;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 8px #777;
    border-bottom: 1px solid #777;
}

header h1 {
    font-size: 28px;
    text-align: center;
}

#burger-nav {
    background: transparent;
    border: 1px solid #BBDEFB;
    border-radius: 0.25em;
    cursor: pointer;
    float: left;
}

.bar {
    display: block;
    width: 24px;
    height: 4px;
    background: #fff;
    margin: 4px;
}


/* ********************* Nav **********************/

header nav {
    display: none;
}

header nav.open {
    display: block;
}

header nav h2 {
    display: none;
}


/* ********************* Nav Links **********************/

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    text-align: center;
}

header nav a:hover{
    background: #42A5F5;
}

header::after {
    content: "";
    display: block;
    clear: both;
}


/* ********************* Main Banner **********************/

#main-banner {
    max-height: 240px;
    overflow: hidden;
    position: relative;
}

#main-banner img {
    width: 100%;
}


/* ********************* Banner Overlay **********************/

.banner-overlay {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
}

.banner-overlay h2 {
    font-size: 36px;
    font-weight: 200;
    text-align: right;
    /*text-transform: uppercase;*/
}

.banner-overlay p {
    float: right;
    font-size: 20px;
    color: #4f4f4f;
    margin-top: 8px;
    line-height: 1.2em;
    width: 100%;
    text-align: right;
}

.banner-overlay::after {
    content: "";
    display: block;
    clear: both;
}


/* ********************* Blockquote **********************/

blockquote {
    margin: 0;
    padding: 4%;
    background: #e4e4e4;
}

blockquote h2 {
    font-weight: 300;
}

blockquote a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    font-weight: 900;
}


/* ********************* Section **********************/

section {
    margin: 4% 0;
}

section::after {
    content: "";
    display: block;
    clear: both;
}


/* ********************* Card **********************/

.card {
    margin: 5%;
    border-radius: 0.25em;
    box-shadow: 1px 1px 8px #aaa, -1px -1px 8px #aaa;
}

.card img {
    /*background: #292B2D!important;*/
    max-width: 100%;
    max-height: 200px;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.card .green,
.card .red,
.card .orange {
    background: #292B2D!important;
}

.card-block {
    background: #fff;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    box-sizing: border-box;
    padding: 8px;
}

.card h4 {
    font-size: 20px;
    margin: 4px 0;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card .card-btn {
    display: block;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 8px 16px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.card .card-btn:hover {
    background: #eee;
}


/* ********************* Footer **********************/

footer {
    background: #333;
    padding: 20px 0;
}

#copyright {
    color: #fff;
}


/* ********************* Media Queries **********************/

@media screen and (min-width: 420px) {
    .banner-overlay h2 {
        font-size: 48px;
    }
    .banner-overlay p {
        width: 90%;
    }
}

@media screen and (min-width: 576px) {
    #burger-nav {
        display: none;
    }
    header nav li {
        float: left;
        width: 25%;
    }
    header nav li+li::before {
        display: inline-block;
        content: "|";
    }
    header nav {
        display: block;
        width: 100%;
    }
    header nav a {
        display: inline-block;
        text-align: center;
        width: 96%;
        box-sizing: border-box;
    }
    .banner-overlay h2 {
        font-size: 66px;
    }
    .banner-overlay p {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    header h1 {
        text-align: left;
        float: left;
        font-size: 2em;
    }
    header nav li {
        float: left;
        width: auto;
    }
    header nav {
        float: right;
        width: auto;
    }
    header nav a {
        display: inline-block;
        width: auto;
    }
    .banner-overlay h2 {
        font-size: 66px;
    }
    .banner-overlay p {
        font-size: 24px;
    }
    blockquote {
        padding: 1.6% 0;
        font-size: 1em;
    }
    .card {
        float: left;
        width: 32%;
        border-radius: 0.25em;
        box-shadow: 1px 1px 8px #aaa, -1px -1px 8px #aaa;
        margin: 0;
    }
    .card:nth-of-type(2) {
        margin: 0 2%;
    }
}