/* ******************** Sections ******************** */

#teams,
#available,
#in-use,
#maintenance,
#no-use {
    margin: 30px 0;
    border-top: 1px solid #34495e;
}

#teams>h2,
#available>h2,
#in-use>h2,
#maintenance>h2,
#no-use>h2 {
    position: relative;
    top: -15px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: #34495e;
    background: #bdc3c7;
    text-transform: uppercase;
}


/* ******************** header ******************** */

.team-header {
    padding-top: 20px;
    line-height: 2em;
}

.team-header h1 {
    float: left;
    color: #2c3e50;
    text-transform: uppercase;
    margin: 0;
}

.team-header .team-dropdown {
    float: right;
}

.team-header::after {
    content: "";
    display: block;
    clear: both;
}


/* ******************** team dropdown ******************** */

.team-dropdown .team-dropbtn {
    font-size: 1.5em;
}

.team-dropdown .team-dropdown-triangle {
    right: 90px;
}

.team-dropdown .team-dropdown-content {
    width: 258px;
    padding: 10px;
    max-height: 370px;
    overflow-y: auto;
}

.team-dropdown .team-dropdown-content li {
    width: 33%;
}

.team-dropdown .dropdown-content a:hover {
    background: #ccc;
}


/* ******************** Dropdown ******************** */

.dropdown {
    position: relative;
}

.dropbtn {
    background: transparent;
    border: 0;
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}

.dropdown-triangle {
    display: none;
    position: absolute;
    top: 32px;
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 0 8.5px 8.5px;
    border-style: dashed dashed solid;
    height: 0;
    width: 0;
}

.dropdown-content {
    display: none;
    background: #f9f9f9;
    position: absolute;
    top: 40px;
    right: 1px;
    z-index: 3;
    box-shadow: 0 2px 4px #555;
}

.dropdown-content a {
    color: #000;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.dropdown input[type="checkbox"]+label::before {
    content: "";
    display: none;
}

.dropdown input[type="checkbox"]:checked~.dropdown-content,
.dropdown input[type="checkbox"]:checked~.dropdown-triangle {
    display: block;
}


/* ******************** media queries ******************** */

@media screen and (min-width: 480px) {
    .team-dropdown .team-dropdown-content {
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    .team-dropdown .team-dropdown-content {
        width: 500px;
    }
}

.notice-wrapper {
    margin: 20px 0px;
    background-color: #cee5ce;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #878888;
}