#reservations,
#add-testline {
    background: #dadada;
    min-height: 100%;
    transition: 0.5s;
    box-sizing: border-box;
}

#reservations h2,
#add-testline h2 {
    display: inline-block;
    margin: 15px 0;
    color: #34495e;
}


/* ******************** List Group ******************** */

.list-group .vertical-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1rem;
    border: 1px solid #888;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    background-color: #0275d8;
    animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0;
    }
    100% {
        background-position: 0 0;
    }
}


/* ******************** List item ******************** */

.list-item {
    box-sizing: border-box;
    padding: 10px;
    background: #fafafa;
    position: relative;
    margin: 20px 15px;
    border-left: 5px solid #ccc;
}

.list-item .badge {
    position: absolute;
    top: -12px;
    font-size: 0.75em;
}

.list-item .badge.badge-primary {
    font-size: 0.96em;
}

.list-item .timestamp {
    float: right;
    margin-top: 10px;
}

.list-item .description {
    color: #555;
    font-size: 14px;
    line-height: 1.6em;
}

.list-item .user {
    float: left;
}

.list-item .time-used {
    float: right;
    font-size: 1.2em;
}

.list-item .user::before {
    content: '\2014 \00A0';
}

.list-item .list-item-header::after,
.list-item .list-item-footer::after {
    content: "";
    display: block;
    clear: both;
}

.list-item .release {
    position: absolute;
    top: -12px;
    right: -9px;
    width: 31px;
    height: 31px;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    letter-spacing: 5px;
    padding: 0.4em 0.8em;
    border: 0;
    border-radius: 18px;
    background: #d9534f;
    transition: 0.5s;
}

.list-item .release:hover {
    background: #a94442 !important;
    width: 100px;
    letter-spacing: normal;
    border-radius: 0;
    /* top: 0; */
    right: 0;
}

.download-link {
    float: right;
    width: 28px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5em;
    margin: 15px 0;
    margin-right: 10px;
    color: #34495e;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}


/* ******************** Add Testline ******************** */

.side-panel,
.description-panel {
    margin-bottom: 20px;
    padding: 1%;
    color: #34495e;
}


/* ******************** footer-panel ******************** */

.footer-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;
    margin-bottom: 20px;
}

.add-testline-btn {
    flex: 0 1 70%;
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 0.25em;
    padding: 4px 8px;
    color: #e1e1e1;
    font-family: Raleway;
    font-size: 1.2em;
}

.cancel-link {
    flex: 1 content;
    border-bottom: 1px dotted #d9534f;
    color: #d9534f;
    text-decoration: none;
    text-align: center;
}


/* ******************** media queries ******************** */

@media screen and (min-width: 576px) {
    .download-link {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    #add-testline>form::after {
        content: "";
        display: block;
        clear: both;
    }
    #add-testline h2 {
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
    .description-panel {
        float: left;
        width: 60%;
    }
    .side-panel {
        float: right;
        width: 36%;
    }
    .footer-panel {
        float: right;
        width: 36%;
        margin: 0 1%;
    }
}

@media screen and (min-width: 992px) {
    .description-panel {
        width: 70%;
    }
    .side-panel {
        width: 26%;
    }
    .footer-panel {
        width: 26%;
    }
}