<div id="desc-modal" class="modal">
	<div class="modal-dialog modal-dialog-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-max" onclick="toggleFullModal(event)">
                    <i class="fa fa-window-maximize fa-fw"></i>
                </button>
                <button type="button" class="modal-close" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i>
                </button>
                <h3 class="modal-title">Description</h3>
            </div>
            <div class="modal-body">
                <p class="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button class="modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>