<button type="button" class="sidenav-toggler" onclick="toggleSideNav()">
	<i class="fa fa-caret-left show-left"></i> 
	<i class="fa fa-navicon"></i> 
	<i class="fa fa-caret-right show-right"></i>
</button>
<h2><%= page %> <%= content_tag :i, "", :class => icon %></h2>