<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>

    <header>
        <div class="wrapper">
            <button type="button" id="burger-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <h1 id="logo">Test Line Reservation</h1>
            <nav>
                <h2>Main Navigation</h2>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="schedule">Schedule</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <% if user_signed_in? %>
      <p>Hello, <%= current_user.email %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>
    <br>
    <% end %>
    <%= yield %>
      <footer>
        <div class="wrapper" style>
            <div id="copyright">&copy; 2017 Nokia. All Rights reserved.</div>
        </div>
    </footer>

  </body>
</html>
